<div *ngIf="isSignedUp; else registerForm">
  Your registration is successful. Please login!
</div>

<ng-template #registerForm>
  <div class="row col-sm-6" style="max-width:350px;">

    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="firstName">First name</label>
        <input type="text" class="form-control" name="firstName" [(ngModel)]="signupForm.firstName" #firstName="ngModel"
               required/>
        <div *ngIf="f.submitted && firstName.invalid">
          <div *ngIf="firstName.errors.required">First name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName">Last name</label>
        <input type="text" class="form-control" name="lastName" [(ngModel)]="signupForm.lastName" #lastName="ngModel"
               required/>
        <div *ngIf="f.submitted && lastName.invalid">
          <div *ngIf="lastName.errors.required">Last name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="username">User Name</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="signupForm.username" #username="ngModel"
               required/>
        <div *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required">Username is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" [(ngModel)]="signupForm.email" #email="ngModel" required email/>
        <div *ngIf="f.submitted && email.invalid">
          <div *ngIf="email.errors.required">Email is required</div>
          <div *ngIf="email.errors.email">Email must be a valid email address</div>
        </div>
      </div>
      <div class="form-group">
        <label for="tel">Phone</label>
        <input type="text" class="form-control" name="tel" [(ngModel)]="signupForm.tel" #tel="ngModel"
               minlength="6"/>
        <div *ngIf="f.submitted && tel.invalid">
          <div *ngIf="tel.errors.required">Phone is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="signupForm.password" #password="ngModel"
               required minlength="6"/>
        <div *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </div>
      <div class="form-group">
        <label for="userRole">Role</label>
        <input type="text" class="form-control" name="userRole" [(ngModel)]="signupForm.userRole" #userRole="ngModel"/>
        <div *ngIf="f.submitted && userRole.invalid">
          <div *ngIf="userRole.errors.required">Role is required</div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Register</button>
        <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
          Signup failed!<br/>{{errorMessage}}
        </div>
      </div>
    </form>
  </div>
</ng-template>
